/* :root {
    --color-black: #000;
    --color-white: #fff;
    --color-grey-dark-2: #999;
    --color-grey-dark: #777;
    --color-primary: #55c57a;
    --default-font-size: 1.6rem;
} */

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    max-width: 900px;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2);
    border-radius: 13px;
    display: table;
    /*overflow: hidden;
    */opacity: 0;
    transform: translate(-50%, -50%) scale(2.5);
    transition: all .5s .2s;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
    -moz-transform: translate(-50%, -50%) scale(2.5);
    -ms-transform: translate(-50%, -50%) scale(2.5);
    -o-transform: translate(-50%, -50%) scale(2.5);
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}

.popup__left {
    width: 33.333333%;
    display: table-cell;
}

.popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
}

.popup__img {
    display: block;
    width: 85%;
}

.popup__text {
    font-size: 1.0 rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #999;
}

/* Open states */
.popup:target {
    opacity: 1;
    visibility: visible;
}

/* .popup:target, */
.popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
}


.popup__close {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
    }